doctype html
html(lang="es")

head 
    meta(http-equiv="X-UA-Compatible", content="IE=7")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1", crossorigin="anonymous")    
    link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    style
        include ../public/stylesheets/style.css
        include ../public/stylesheets/question.css
        
body
    include navbar.pug
    div
        div 
            h2(id="question") pregunta? 
            p(id="clock")
                span(id="minutes")
                span(id="seconds")
        form
            div.containerResp
                label(class="response") opcion1 #[input(type="radio", id="radioId", value="", class="radio_input")] 
            div.containerResp
                label(class="response") opcion2 #[input(class="radio_input",type="radio", id="radioId", value="")]
            div.containerResp
                label(class="response") opcion3 #[input(class="radio_input", type="radio", id="radioId", value="")]
            div.containerResp
                label(class="response") opcion4 #[input(class="radio_input", type="radio", id="radioId", value="")]

    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script 
        include ../public/javascripts/question.js
    //script.
        var start = Date.now();
        console.log(start);
        function mostrarTiempo() {
            var delta = Date.now() - start;
            document.getElementById('clock').innerHTML = (Math.floor(delta / 1000));
            console.log(delta);
        };
        
        setInterval(mostrarTiempo(), 1000);
    //script(src="../public/javascript")