doctype html
html(lang="es")

head
    title quiz app

body
    div.contenedor            
        form(name="addUser", action="/addUser", method="POST")
            label ingrese su nombre #[input] 
    