doctype html
html(lang="es")

head
    meta(http-equiv="X-UA-Compatible", content="IE=7")
    title quiz app
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1", crossorigin="anonymous")    
    style. 
        @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

        body {
            font-family: 'Poppins', sans-serif;
            background: linear-gradient(to bottom, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 60%,rgba(158,203,45,1) 100%);
        }
        div.contenedor{
            position: absolute;
            left:100px;
        }
        h1{
            position:center;
        }
        p {
            font-family: 'Poppins', sans-serif;
            font-size: 1.1em;
            font-weight: 300;
            line-height: 1.7em;
            color: #999;
        }
        nav{
            background: linear-gradient(to bottom, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 60%,rgba(158,203,45,1) 100%);
        }
    script(src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js", integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ", crossorigin="anonymous")
    script(src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js", integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY", crossorigin="anonymous")

body
    div.container
        nav(class="navbar navbar-expand-lg navbar-light bg-light")
            a(class="navbar-brand" href="#")
            button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse", id="navbarNav")
                ul(class="navbar-nav")
                    li(class="nav-item active")
                        a(class="nav-link" href="#") Home 
                    li(class="nav-item")
                        a(class="nav-link" href="#") Ranking
                    li(class="nav-item")
                        a(class="nav-link" href="#") About
    
        h1 Bienvenidos a Quiz...
        br
        br
        br
        div.inpName
            form(name="addUser", action="/", method="POST")
                label Ingrese su nombre #[input] 
                button(id="btnAddUser")
    
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous")   
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js")
    script.
        const btnAddUser = document.getElementById('btnAddUser');
        btnAddUser.AddEventListener('click', () => {
            axios({
                method: POST,
                url: 'https://localhost:3000/'
                data: 
            })
        })