@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import 'body.css';
/*body {
    font-family: 'Poppins', sans-serif;
    /*background: linear-gradient(to bottom, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 60%,rgba(158,203,45,1) 100%);
    
    background-color: #96F272;
}*/
body {
    width: 100%;
    height: 100vh;
    font-family: 'MuseoModerno', cursive;
    color: white;
    background-image: linear-gradient( 245deg, #30cfd0 0%, #330867 100%);
    background-size: 300% 300%;
    animation: animated_bg 5s infinite alternate ;
}
@keyframes animated_bg {
    0%{
       background-position: 0% 0%;
    } 
    50%{ 
        background-position: 50% 75%;
    }
    100%{
        background-position: 25% 100%;
    }
}
div{
    border-radius: 1em;
}
h1{
    font-family: "Lucida Console", "Courier New", monospace;
    position:center;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
nav{
    background: linear-gradient(to bottom, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 60%,rgba(158,203,45,1) 100%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 1em;
}
.nav-link{
    margin-left: 5px;
}