.response{
    margin-left: 150px;
    margin-top: 50px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#radioId{
    display: inline-flex;
    align-items: center;
    margin-left: 10px; 
    cursor: pointer;  
    width: 1.25em;
    height: 1.25em;  
}
#question{
    margin-top: 40px;
    margin-left: 150px;
}
.containerResp{
    margin-top: 3px;
    border-width: 1px;
    border-style: outset;
    border-color: lightblue;
    margin-left:20px;
    margin-right:20px;
}
#clock{
    margin-left: 300px;
}
